html {
  font-family: sans-serif;
  box-sizing: border-box;
  /* color:  */
}

* {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4 {
  margin: 0;
}

.app {
  border: 2px solid rgb(27, 232, 243);
  height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#k-hb {
  height: 30%;
  width: 100%;
}

#everything-else {
  height: 70%;
  width: 100%;
  display: flex;
}

#kitchen {
  border: 2px solid rgb(126, 126, 251);
  background-color: rgba(126, 126, 251, .5);
  width: 75%;
  height: 100%;
}

#kitchen > * {
  margin-left: auto;
}

#kitchen-stuff {
  height: 100%;
  min-width: 50px;
  max-width: 100px;
  width: 10%;
}

#kitchen-stuff > div {
  height: 50%;
  width: 100%;
}

#bath-half {
  width: 25%;
  height: 100%;
}

#everything-else {
  height: 70%;
  width: 100%;
  display: flex;
}

#lr-b1-b2 {
  width: 70%;
  height: 100%;
  flex-direction: column;
}

#lr-b1-b2 > div {
  height: 50%;
}

#b1-b2 {
  display: flex;
}

#b1-b2 > div {
  width: 50%;
}

#b3-fb {
  width: 30%;
  height: 100%;
}

#b3-fb > div:first-of-type {
  height: 70%;
}

#b3-fb > div:last-of-type {
  height: 30%;
}

#oven {
  border: 2px solid rgb(197, 251, 126);
  background-color: rgba(197, 251, 126, .5);
}

#sink {
  border: 2px solid rgb(251, 251, 126);
  background-color: rgba(251, 251, 126, .5);
}

#living-room,
#bath-half,
#bath-full {
  border: 2px solid rgb(195, 218, 199);
  background-color: rgba(195, 218, 199, .5);
}

#bed-1 {
  border: 2px solid rgb(251, 126, 161);
  background-color: rgba(251, 126, 161, .5);
}

#bed-2 {
  border: 2px solid rgb(230, 144, 87);
  background-color: rgba(230, 144, 87, .5);
}

#bed-3 {
  border: 2px solid rgb(71, 133, 45);
  background-color: rgb(71, 133, 45, .5);
}

#closet-1 {
  border: 2px solid rgb(71, 133, 45);
  background-color: rgb(71, 133, 45, .5);
}